<h1><%= @task.title %></h1>
<p></p>
<p><%= link_to 'Edit this task', edit_task_path(@task) %></p>

<p><%= @task.details %></p>

<% if @task.completed %>
  <p>Completed</p>
<% else %>
  <p>Not completed</p>
<% end %>

<%= link_to 'Back to list', tasks_path %>
